* {
  /* border: 1px solid red; */
  /* box-shadow: 0 0 0 1px red; */
}

/* #selector {
  property: value
} */

* {
  box-sizing: border-box;
}

body{
  background-color: #FF9CC0;
  font-family: aktiv-grotesk, Helvetica, sans-serif;
  font-size: 19px;
  font-style: normal;
  line-height: 1.6em;
  margin: 0;
}

.container{
  width: 94%;
  margin: auto;
  overflow: hidden;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.wrapper div{
  /* background: #eee; */
  padding: 2em 0;
}

.logo{
  text-decoration: none;
}

.menu-middle{
  line-height: 1.2;
  text-align: center;
  margin: auto;
}

.menu-middle a{
  color: #000;
  text-decoration: none;
}

.menu-middle a:hover{
  border-bottom: solid 2px #000;
}

.container-with-half-image-on-the-right-side{
  width: 97%;
  margin-left: auto;
  margin-right: 0;
}

.button{
  color: #000;
  padding: 15px 50px;
  border: solid 2px;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: center;
  font-size: 17px;
}

.button:hover{
  border: solid 2px black;
  background-color: #000;
  color: #FFE801;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

#top-header{
  background-color: #000;
  color: #FFE801;
  padding: 5px;
  text-align: center;
  font-size: 13px;
}

#box-1{
  overflow: hidden;
}

#main{
  float: left;
  position: relative;
  min-height: 200px;
  padding-top: 80px;
}

#main h2{
  /* position: relative;
  top: 150px; */
  font-family: new-spirit-condensed, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  line-height: 0.9em;
  letter-spacing: -0.02em;
  margin: 0;
}

#main h1{
  position: relative;
  bottom: -15px;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 100px;
  line-height: 0.8em;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  margin: 0px;
}

#sidebutton{
  display: inline-flex;
  float: right;
  width: auto;
  margin-top: 200px;
  margin-bottom: 30px;
  /*padding: 30px 50px 30px 100px;*/
}

@media (max-width: 1460px){
  #main{
    width: 100%;
    float: none;
  }

  #sidebutton{
    width: 100%;
    float: none;
    margin-top: 40px;
  }
}

@media (max-width: 640px){
  #main h2{
    font-size: 70px
  }

  #main h1{
    font-size: 70px;
  }
}

#showcase{
  margin-top: 20px;
}

#showcase img{
  height: auto;
  width: 100%;
}

#showcase2{
  background-image: url(../images/ramen1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 865px;
}

.block{
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
  width: 33.3%;
  padding: 2vw 0px;
  box-sizing: border-box;
}

.block h4{
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
  vertical-align: center;
  margin: 40px;
}

.block h3{
  font-family: new-spirit, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: 0.1em;
  text-align: center;
  vertical-align: center;
  margin: 0px 0px 50px 0px;
}

@media (max-width: 640px) {
.block h3{
  font-size: 40px;
  }

.block h4{
  font-size: 15px;
  }
}

.container-half{
  width: 100%;
  padding-top: 50px;
  margin: auto;
  float: left;
  /*overflow: hidden;*/
}

.our-story{
  max-width: 520px;
  padding-bottom: 30px;
  float: left;
  margin-top: 140px;
}

.our-story h3{
  font-family: aktiv-grotesk-extended, sans-serif;
  font-size: 60px;
  line-height: 1em;
  margin: 0;
  }

.our-story p{
  padding-bottom: 30px;
  }

.img-box{
  height: 757px;
  width: 49%;
  min-width: 250px;
  margin-top: 50px;
  background: url(../images/ramen2.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  float: right;
}

@media (max-width: 1200px){
  .our-story{
    width: 94%;
    float: none;
    margin-top: -30px;
  }

  /* .our-story h3{
    font-size: 40px
  } */

  .img-box{
    top: -100px;
    margin-bottom: -50px;
    min-width: 400px;
    width: 100%;
    position: relative;
    /* left: 200px; */
  }

  /* .ramen2{
    width: 100%;
    float: none;
  } */
}

.recipes{
  margin: 5vw 0 0 0;
}

.recipes img{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: auto;
  margin: -150px -30px;
}

.recipes h1{
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 100px;
  line-height: 0.8em;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  margin: 0;
  text-align: center;
}

.row{
  margin: 0 -5px;
}

  .column{
    float: left;
    width: 33%;
    padding: 0 1vw;
    margin-top: 3vw;
  }

  .row:after{
    display: table;
    clear: both;
  }

  .card{
    margin: 0;
    /* background-color: #FFE801; */
    padding-bottom: 10px;
  }

  .card img{
    background-clip: border-box;
    width: 100%;
  }

  .noodlelink{
    max-width: 160px;
  }

  .card h4{
    font-family: aktiv-grotesk-extended, sans-serif;
    font-size: 40px;
    line-height: 1em;
    margin: 0;
    padding: 10px 0px 30px 0px;
  }

  .card a{
    text-decoration: none;
    color: #000;
  }

  .card a:hover{
    text-decoration: underline;
    color: #000;
    transition: 0.5s;
    background: #EAD610;
  }

  @media screen and (max-width: 800px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }

    .recipes img{
      width: 150%;
      height: auto;
      margin: -150px -30px;
    }

    .recipes h1{
      font-size: 70px;
    }
  }

  @media (max-width: 600px){
    .img-box{
      position: relative;
      left: 200px;
      top: -200px;
      width: 100%;
  }
}

#main-footer{
  background: #000;
  color: #FFE801;
  text-align: center;
  padding: 10px;
}

/* About page */

.about-title{
  margin: auto;
  max-width: 1270px;
  padding: 50px 10px;
}

.about-title h2{
  /* position: relative;
  top: 150px; */
  font-family: new-spirit-condensed, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  line-height: 0.9em;
  letter-spacing: -0.02em;
  margin: 10px 0;
  text-align: center;
  max-width: 1300px;
}

.about-title h1{
  position: relative;
  /* bottom: -15px; */
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 80px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  margin: 0px;
  text-align: center;
  max-width: 1300px;
}

.section-content p{
  /* font-size: 32px; */
  font-size: 2rem;
  line-height: 1.5;
  margin: auto;
}

@media (max-width: 720px){
  .about-title h2{
    font-size: 48px;
  }

  .about-title h1{
    font-size: 48px;
  }

  .section-content p{
    font-size: 1.8rem;
    line-height: 1.75;
  }
}

.section-content{
  margin: auto;
  max-width: 850px;
  padding-bottom: 100px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}
.image-container.anchor-left{
  transform-origin: left;
}

.image-container:hover{
  z-index: 2;
  border-radius: 5px;
  transform: scale(5);
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.24);
}

.image-container{
  position: relative;
  top: 6px;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  width: 51px;
  height: 34px;
  border-radius: 18px;
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.12);
  /* transition-property: width, transform, border-radius, box-shadow; */
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  outline-color: inherit;
  outline-style: none;
  cursor: pointer;
  outline-width: 0px;
}

.image-container img{
  width: 100%;
  height: auto;
}


.blackbackground{
  background-color: #000;
  padding: 120px 0px;
}

.wrapper2{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(106px, auto);
  /* grid-gap: 1em; */
  justify-items: stretch;
  align-items: stretch;
  max-width: 1270px;
  position: relative;
  margin: auto;
}

/* .wrapper2 > div{
  background: #8E8D8D;
  padding: 1em;
} */

/* .wrapper2 > div:nth-child(odd){
  background: #ddd;
} */

.box1{
  grid-column: 1/4;
  grid-row: 1;
}

.box1 img{
  width: 100%;
  height: auto;
}

.box2{
  grid-column: 4/7;
  grid-row: 1;
  padding: 50px;
}

.box2 span{
  font-family: new-spirit-condensed, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  margin: 0;
  color: #fff;
  position: relative;
  top: 20%;
}

.box3{
  grid-column: 1/4;
  grid-row: 3;
}

.box3 h3{
  font-family: aktiv-grotesk-extended, sans-serif;
  font-size: 60px;
  line-height: 1em;
  margin: 0;
  padding: 10px 0px 30px 0px;
  color: #FFE800;
}

.box3 p{
  color: #fff;
  padding: 0px 0px 0px 75px;
}

.box4{
  grid-column: 5/7;
  grid-row: 3;
}

.box4 img{
  width: 100%;
  height: auto;
  position: relative;
  float: right;
}

@media (max-width: 800px) {

  .box1{
    grid-column: 2/7;
    grid-row: 1;
  }

  .box2{
    grid-column: 2/7;
    grid-row: 2;
    padding: 50px 0px;
  }

  .box3{
    grid-column: 2/7;
    grid-row: 3;
    padding: 50px 0px;
  }

  .box3 h3{
    font-size: 40px;
  }

  .box4{
    grid-column: 1/4;
    grid-row: 4;
  }
}


/* Contact page */

.about-title p{
  text-align: center;
  max-width: 500px;
  position: relative;
  margin: auto;
}

.text-link{
  color: #000;
}

.contact-wrapper{
  max-width: 500px;
  position: center;
  margin: auto;
}

.form {
  /* background-color: #ededed; */
}

input::placeholder {
  color: #000;
}

textarea::placeholder {
  color: #000;
}

input[type=text], select{
  width: 100%;
  padding: 12px 18px;
  display: inline-block;
  border: 1px solid #000;
  box-sizing: border-box;
  font-family: aktiv-grotesk, Helvetica, sans-serif;
  font-size: 19px;
  font-style: normal;
  line-height: 1.6em;
  background-color: #FF9CC0;
  margin-bottom: 20px;
}

input[type=email]{
  width: 100%;
  padding: 12px 18px;
  display: inline-block;
  border: 1px solid #000;
  box-sizing: border-box;
  font-family: aktiv-grotesk, Helvetica, sans-serif;
  font-size: 19px;
  font-style: normal;
  line-height: 1.6em;
  background-color: #FF9CC0;
  margin-bottom: 20px;
}

textarea[name=message]{
  width: 100%;
  padding: 12px 18px;
  display: inline-block;
  border: 1px solid #000;
  box-sizing: border-box;
  font-family: aktiv-grotesk, Helvetica, sans-serif;
  font-size: 19px;
  font-style: normal;
  line-height: 1.6em;
  background-color: #FF9CC0;
  margin-bottom: 20px;
}

input[type=submit] {
  width: 100%;
  background-color: #FF9CC0;
  color: #000;
  padding: 15px 50px;
  border: solid 2px;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: center;
  font-size: 17px;
  cursor: pointer;
}

input[type=submit]:hover {
  border: solid 2px black;
  background-color: #000;
  color: #FFE801;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
